.header {
  background-image: url(../../images/24a14c0b4d50684795f947e3cdcdfe64.jpg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
