<main class="main">

  <section class="search">
    <form class="search__form">
      <input class="search__input js_in_search_desc" type="text" placeholder="Example: Olu Mei" value="" />
      <button type="button" class="button js_button_search">Search</button>
    </form>
  </section>




  <section class="data">

    <section class="data__fav">
      <section class="about-us">
        <h2 class="characters"> Fav ❤️</h2>
      </section>
      <ul class="list js-list-fav card">

      </ul>
    </section>

    <section class="data__space">
      <section class="about-us">
        <h2 class="characters">Characters</h2>
      </section>
      <ul class="list js-list">

      </ul>
    </section>
  </section>
</main>